body {
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(78, 131, 115);
}
  
header {
    background-color: #333;
    padding: 10px;
}
  
img {
    margin: auto;
    display: block; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
nav ul li {
    display: inline-block;
}
  
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav ul li a:hover {
    background-color: #111;
}
  
nav ul li ul {
    display: none;
    position: absolute;
    background-color: #333;
}
  
nav ul li:hover ul {
    display: inherit;
}
  
nav ul li ul li {
    width: 100%;
    display: list-item;
    position: relative;
    text-align: left;
}
  
footer {
    background-color: #333;
    padding: 10px;
    color: white;
    text-align: center;
}
  footer {
    background-color: #333;
    padding: 10px;
    color: white;
    text-align: center;
  }
